* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray500: hsl(0, 0%, 42%);
    --Gray950: hsl(0, 0%, 7%);
}

body {
    height: 100vh;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Blog-card {
    width: 23rem;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.7rem; */
    padding: 1rem;
    border: 1px solid var(--Gray950);
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;
    background-color: var(--White);
    box-shadow: 10px 10px;
}

.main-fig img {
    width: 20.5rem;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

section .btn {
    background-color: var(--yellow);
    font-weight: 900;
    border-radius: 0.8rem;
    text-align: center;
    padding: 0.3rem 0rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
}